body {
  margin:0 ;
  background : #ddd
}
.main{
  text-align:center
}
.red{
  color:red;
}
.center{
  text-align:center
}

.food {
  text-align:center;
  background: white;
}

.navbar{
  background: white;
  padding:20px;
}
.navbar a {
  margin-right: 10px;
  text-decoration: none;
}