body {
  margin:0 ;
  background : #ddd
}
.main{
  text-align:center
}
.red{
  color:red;
}
.center{
  text-align:center
}

.food {
  text-align:center;
  background: white;
}

.navbar{
  background: white;
  padding:20px;
}
.navbar a {
  margin-right: 10px;
  text-decoration: none;
}

.img-size{
  width:100px;
  height:auto;
}

.cart-item {
  padding: 10px;
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid grey;
  line-height: 0px;
} 